<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketLy</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="./styles/nav.css" />
    <script src="/assets/htmx/htmx.min.js"></script>
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div hx-get="/views/components/nav.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </header>
    <main class="content-with-navbar ">
        <section class="hero"></section>

        <section class="progress">
            <div class="btns">
            </div>
        </section>

        <section class="events step-section" data-step="1">
            <div class="filter">
            </div>
            <div class="cards-container"></div>
        </section>
        <section class="step step-2 step-section hidden" data-step="2">
            <div class="events-selection">
                <h2 id="step2-event-title">Événement sélectionné</h2>
                <p id="step2-event-meta"></p>
                <form id="qty-form">
                    <label for="qty-input">Nombre de billets</label>
                    <input id="qty-input" type="number" min="1" value="1" />
                    <small id="available-places"></small>
                    <div style="margin-top:12px;">
                        <button type="button" id="step2-prev">Précédent</button>
                        <button type="button" id="step2-next">Suivant</button>
                    </div>
                </form>
            </div>
        </section>

    </main>

    <footer>
        <div hx-get="/views/components/footer.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>