<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketLy</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="./styles/nav.css" />
    <script src="/assets/htmx/htmx.min.js"></script>
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div hx-get="/views/components/nav.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </header>
    <main class="content-with-navbar ">
        <section class="hero"></section>

        <section class="progress">
            <div class="btns">
            </div>
        </section>

        <section class="events step-section" data-step="1">
            <div class="filter">
            </div>
            <div class="cards-container"></div>
        </section>
        <section class="step step-2 step-section hidden" data-step="2">
            <div>
                <h2 id="step2-event-title">Événement sélectionné</h2>
                <h3 class="title_event"></h3>
                <p id="step2-event-meta"></p>
                <form id="qty-form">
                    <div class="pl-prix">
                        <small id="available-places"></small>
                        <div id="price"><span class="num_price"></span></div>
                    </div>
                    <div class="quantite">

                        <label for="qty-input">Quantité</label>
                        <div class="qn-arrow">
                            <i class="fa-solid fa-minus " id="minus"></i>
                            <input id="qty-input" type="text" value="1" />
                            <i class="fa-solid fa-plus " id="plus"></i>
                        </div>
                    </div>
                    <div class="error-qtn">

                    </div>

                    <div class="btn-tran">
                        <button type="button" id="step2-prev">Précédent</button>
                        <button type="button" id="step2-next">Suivant</button>
                    </div>
                </form>
            </div>
            <div class="img-event">
                <img src="./assets/img/card_image.jpg" alt="">
            </div>
        </section>
        <section class="step step-3 step-section hidden" data-step="3">
            <div>
                <h2 id="participant-counter">Participant 1 / 1</h2>
                <form id="participants-form"></form>
            </div>
            <div class="resulta_particpant">
                <h2>Participants</h2>
                <div id="participant-list"></div>
                <div style="margin-top:12px;">
                    <button type="button" id="step3-prev">Précédent</button>
                    <button type="button" id="step3-next">Suivant</button>
                </div>
            </div>
        </section>
        <section style="color:black" class="step step-4 step-section" data-step="4">
            <h2>Ticket</h2>
            <div class="content-ticket">
                <div class="event-list"></div>
                <div class="line"></div>
                <div class="list-parts"></div>
            </div>
        </section>

    </main>

    <footer>
        <div hx-get="/views/components/footer.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>