<footer class="footer">
    <div class="container footer-container">
        <div class="footer-logo">
            <h2>Tickete<span class="vers">Ly</span></h2>
            <p>Votre portail vers l'univers des événements</p>
        </div>

        <div class="footer-nav">
            <h3>Navigation</h3>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Événements</a></li>
                <li><a href="#">Mes réservations</a></li>
            </ul>
        </div>

        <div class="footer-socials">
            <h3>Suivez-nous</h3>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Ticketly. Tous droits réservés à Ticketly.</p>
    </div>
</footer>