@import url("global.css");

.navbar {
  background-color: var(--color-nvf);
  opacity: 0.9;
  border-bottom: 1px solid var(--color-stroke);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: var(--font-main);
  font-size: 1.6rem;
  color: var(--color-text);
  letter-spacing: 2px;
}

.vers {
  color: var(--color-stroke);
}

#menu-toggle {
  display: none;
}

.menu-btn {
  color: var(--color-text);
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 1100;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-btn:hover {
  transform: scale(1.1);
}

.nav-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: -100%;
    box-shadow: -10px 0 25px rgba(82, 159, 210, 0.4);

  width: 50%;
  height: 100vh;
  padding: 2rem 1.5rem;
  transition: right 0.4s ease-in-out;
  z-index: 100;
  background-color: var(--color-nvf);
}

#menu-toggle:checked ~ .nav-links {
  right: 0;
}

.menu-header {
  width: 100%;
  margin-bottom: 2rem;
}

.menu-title {
  font-family: var(--font-main);
  font-size: 1.2rem;
  background: var(--gradient-primary);
  background-clip: text;
  color: transparent;
}
.close-btn {
  color: var(--color-text);
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.3s ease;
}
#menu-toggle:checked + .menu-btn {
  opacity: 0;
  pointer-events: none;
}

.close-btn:hover {
  color: var(--color-primary);
  transform: rotate(90deg);
}
.nav-links ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.nav-links ul li a {
  font-family: var(--font-body);
  font-size: .9rem;
  color: var(--color-text);
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}
.nav-links ul li {
  padding: .3rem 1.3rem;
  border-radius: 10px;
}
.nav-links ul li:hover {
  background-color: var(--color-btn-primary);
  
}
.content-with-navbar {
  margin-top: 90px;
}

@media (min-width: 768px) {
 .menu-btn,
  #menu-toggle,
  .close-btn,
  .menu-title {
    display: none;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .nav-links {
    position: static;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav-links ul {
    flex-direction: row;
    gap: 2rem;
  }

  .nav-links ul li a {
    font-size: 1rem;
  }

  .nav-links ul li a::after {
    bottom: -5px;
  }
}